.zestimate h4, .zestimate h3 {
    margin-left: 50px;
    text-align: left;
}

.zestimate h2 {
    margin-left: 150px;
}

.zestimate .back {
    margin-left: 50px;
    text-decoration: none;
}

.zestimate .money {
    color: #50C878;
}

.zestimate .errorMessage {
    text-align: left;
    margin-left: 50px;
    color: #CC0000;
}